$green: #99f4bf;

footer {
  height: 30vh;
  width: 100%;
  background: $green;
  margin-left: 10%;
  margin-right: 10%;
}

.footer__logo{
  width: 150px;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
  }
}
