$blue : #C2DFE3;
$royalblue: #0A2463;

.button {
 font-size: 16px;
 background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: black;
  font-family: 'Avenir Next Cyr Regular';
  line-height: 40px;
  text-align: center;
  transition: .3s ease-in-out;

}



header {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 200px;
  width: 80%;
  top: 0;
  color: white;
  transition: .3s ease-in-out;

  .nav{
      width: 50%;

    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      // font-family: 'GT Eesti', sans-serif;
      font-family: 'Avenir Next Cyr Regular';
      font-size: 16px;

      li {
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }

    .nav__item{
        // text-transform: uppercase;
        // border-bottom: 3px solid $red;
        // padding-bottom: 3px;
    }

    .nav__item button {

    }
  }
  &.white {
    background: white;
    color: black;
    height: 100px;
    // border-bottom: 1px solid black;
    background: rgba(255, 255, 255);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  }


  .logo{
      width: 200px;
      height: 160px;
      overflow: hidden;
      background: url('../assets/logowhite.png');
      background-size: cover;
      background-position: 50% 50%;
      // transition: .3s ease-in-out;

      img {
        width: 100%;
        height: 100%;
      }
  }


  .button{
    // background: $blue;
    color: $royalblue;
    font-weight: 600;
     background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
  }
}


.white>.logo{
  height: 70px;
  width: 115px;
  background: url('../assets/logo.png');
  background-size: cover;
  background-position: 50% 50%;
}

.white .nav ul a{
  color: black;
}
