@import "header";
@import "style/plane-animation";
@import "footer";

$red: #f44236;
$green: #99f4bf;
$darkgreen: #82D173;
$blue : #25CED1;
$royalblue: #0A2463;

$skyblue: #8ACDEA;

$indep: #4C5760;
$grey: #CDCDCD;
// 1ый вариант
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}


*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}


.TVCoreSliderRoot {
  display: flex;
}

.tv-hot-tours {
  margin-left: 23%;
}
.TVInterfaceWrapper {
  overflow: visible !important;
    font-family: 'Avenir Next Cyr Regular';
}

.TVInterfaceWrapper .TVSearchButton {
    font-family: 'Avenir Next Cyr Regular';
    color: $royalblue;
    // background: $green;
     background: linear-gradient(to left top, #99f4bf, #7eebc4, #63e2c9, #47d8cd, #25ced1);
  // border-radius: 30px;
}


.TVMainFilterButton {
  font-weight: 400 !important;
    font-family: 'Avenir Next Cyr Regular';
}
.TVMainFilter {
  overflow: visible !important;
}


.TVHotTours .TVTheme2 {
  width: 1300px;
}


.TVHotTours.TVTheme2 .TVHotMainColor-ES {
  font-family: 'Avenir Next Cyr Regular';
}

.button {
 font-size: 16px;
 background: linear-gradient(to left top, #99f4bf, #7eebc4, #63e2c9, #47d8cd, #25ced1);
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: black;
  font-family: 'Avenir Next Cyr Regular';
  line-height: 40px;
  text-align: center;
  transition: .3s ease-in-out;

  &:hover{
    background: $green;
  }
}

.preloader {
  z-index: 10;
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;

  img {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .plane {
    top: 55%;
  left: 56%;
  width: 40px;
  transform-origin: center;
  transform: translate(-14px,-32px) rotate(9deg);
  animation-name: plane;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1,.3,.96,.68);
  animation-fill-mode: forwards;
  }
}





.scroll-item {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  // background: blue;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
object-fit: fill;
height: 100vh;
}


.first {
  height: 100vh;
}

.intro {
  height: 25%;
  color: white;
  width: 80%;
position: absolute;
top: calc(25% + 100px);
left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // font-family: 'Ubuntu Condensed', sans-serif;
  font-family: 'Avenir Next Cyr Regular';
}

.intro__title {
      font-family: 'Avenir Next Cyr Regular';
  // font-family: "wichita";
  // font-family: "Merriweather";
  font-weight: 600;
  font-size: 50px;
}

.intro__text {
  font-size: 20px;
}

.intro__button{
  // align-self: flex-end;
}


.second {
  height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: #f5f5f5;
    // background: url('../assets/bg1.png');
    // background: #46bd8d;
    // justify-content: space-around;


  .section__content {
    height: calc(100% - 250px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // grid-gap: 15px;
  }

  .destination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Avenir Next Cyr Regular';
    // font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;

  }
  .destination:first-of-type{
    background: url('../assets/dubai.jpg');
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .destination:nth-of-type(2) {
    background: url('../assets/thailand.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(3) {
    background: url('../assets/fall.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(5) {
    background: url('../assets/fall.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(4) {
    background: url('../assets/egypt.jpg');
    background-size: cover;
  }
}



.whyus{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  // background:linear-gradient(to right, rgba(184,244,192,1) 0%, rgba(158,187,255,1) 100%);
  .section__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
    // margin-left: 10%;
  }

  .section__title {
    height: auto;
  }

  .whyus__card{
    background: white;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Avenir Next Cyr Regular';
    // border: 1px solid $darkgreen;
  }

  .card__img {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
    }
}
    .card__title {
      font-size: 24px;
      text-align: center;
      font-weight: 600;
    }

    .card__text {
      text-align: center;
      // color: $blue;
    }




}

.third {
  min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background: url('../assets/bg.jpg');
   background-size: cover;
   // background: rgba(228, 233, 237, 1b);
   // background: #D3D3D3;
//    filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);
// -webkit-filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);

   .section__content {
     position: relative;
     width: 100%;
     height: calc(100% - 100px);
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }

   .section__text {
     margin-bottom: 75px;
     width: 80%;
     font-size: 20px;
     color: #4C5760;
     text-align: center;
font-family: 'Avenir Next Cyr Regular';
   }

   .hottours{
      position: relative;
      height: 500px;
     width: 100%;
     margin-bottom: 75px;
   }

   .button {
     position: absolute;
     top: 70%;
     left: 35%;
     background: $green;
     color: black;
   }
   .hottours__nav{
     width: 30%;
     height: 500px;
    background: $royalblue;
    position: absolute;
    left: 0;
    opacity: 0.8;
   }

  .tv-hot-tours{
    position: absolute;
 top: 62.5px;
   width: 77%;
}

.TVHotTours.TVTheme2 .TVHotTour  {
  border-bottom: 15px solid $green;
}

  .TVHotTours.TVTheme2{
    width: 100% !important;
  }

  .TVHotTours.TVTheme2 .TVHotStar-ES {
    color: $royalblue;
  }


.TVHotTours.TVTheme2 .TVHotTourInfoHotelName {
  color: $royalblue;
}

  .TVSNavLeft, .TVSNavRight {
    opacity: 1 !important;
    border-radius: 40px !important;
    border-color: $grey;
    height: 40px;
    width: 50px;
    background: $green;
    z-index: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
      &:hover{
        border-color: $royalblue;
    }
  }

  .TVHotTours .TVSNavLeft {
    left: -13% !important;
  top: 45% !important;
    background: transparent;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-bottom-right-radius: 30px;
    // border-top-right-radius: 30px;
  }

    .TVHotTours .TVSNavLeft .TVSLeftImg {
      background-position: 50% 50% !important;
      background-size: cover;
      width: 30px;
height: 30px;
    background-image: url("../assets/left-arrow.svg");
    opacity: 0.8;
    }

  .TVHotTours .TVSNavRight {
    right: 107% !important;
    top: 15% !important;
//     border-bottom-left-radius: 30px;
// border-top-left-radius: 30px;
background: transparent;
border: 3px solid black;
  }

    .TVHotTours .TVSNavRight .TVSRightImg {
      background-position: 50% 50% !important;
      background-size: cover;
      width: 30px;
height: 30px;
background-image: url("../assets/right-arrow.svg");
    }

.TVHotTours.TVTheme2 .TVHotTourInfoPriceBlock {
  padding-right: 0;
}

.TVHotTours.TVTheme2 .TVHotTourInfoPriceIcon {
  display: none;
}
}



.reviews-section {
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background: url('../assets/bg.jpg');
   background-size: cover;

   .section__content {
     position: relative;
     width: 100%;
     height: 500px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     font-family: 'Avenir Next Cyr Regular';
     margin-bottom: 75px;
   }


   .reviews__nav {
     width: 30%;
     height: 500px;
    background: $royalblue;
    opacity: 0.8;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .right-button{
     opacity: 1 !important;
     border-radius: 40px !important;
     height: 40px;
     width: 50px;
     background: $green;
     z-index: 0 !important;
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
     border: 3px solid black;
     padding: 10px 5px;
     margin-bottom: 50px;
     cursor: pointer;
   }

   .left-button{
     opacity: 1 !important;
     border-radius: 40px !important;
     height: 40px;
     width: 50px;
     background: $green;
     z-index: 0 !important;
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
     border: 3px solid black;
     padding: 10px 5px;
     cursor: pointer;
   }

   .button__arrow-left {
     background-position: 50% 50% !important;
     background-size: cover;
     width: 30px;
     height: 30px;
     background-image: url("../assets/left-arrow.svg");
   }

   .button__arrow-right {
     background-position: 50% 50% !important;
     background-size: cover;
     width: 30px;
     height: 30px;
     background-image: url("../assets/right-arrow.svg");
   }


   .reviews {
      width: 60%;
   }

   // .reviews-slider {
   //   position: absolute;
   //   display: flex;
   //   flex-direction: row;
   //   max-width: 9999999px;
   // }
   .review {
     background: white;
     height: 370px;
    width: 60%;
    display: flex !important;
    flex-direction: row;
    border-bottom: 10px solid $green;
 }

 .review__info {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100%;
   width: 70%;
   padding: 10px;
 }

 .review__title {
   font-weight: 600;
 }

 .review__date {
   font-size: 12px;
 }

 .review__img {
   width: 30%;
   height: 100%;

   img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
 }
}


.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Avenir Next Cyr Regular';
  font-size: 32px;
  font-weight: 700;
}

.fourth {
  background: url('../assets/bg.png');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.fifth {
  height: 100vh;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background: $royalblue;
  color: white;

  .image {
    height: 75%;
    width: 45%;
    background: url('../assets/dubai.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
}

  .visas-info {
    width: 40%;
    height: 50%;
    // background: white;
    // border-bottom: 5px solid $green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 30px;
  }

  .info__title{
    font-weight: 700;
    font-family: 'Avenir Next Cyr Regular';
    font-size: 40px;
  }

  .info__text {
    font-family: 'Avenir Next Cyr Regular';
    font-size: 20px;
    color: white;
  }
