@import "header";
@import "style/plane-animation";

* {
  margin: 0;
}


.preloader {
  z-index: 10;
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;

  img {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .plane {
    top: 55%;
  left: 56%;
  width: 40px;
  transform-origin: center;
  transform: translate(-14px,-32px) rotate(9deg);
  animation-name: plane;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1,.3,.96,.68);
  animation-fill-mode: forwards;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  background: url('../assets/dubai.jpg');
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    font-family: "GT EEsti", sans-serif;
    font-size: 40px;
    font-weight:700;
    color: white;
}

.tours {
  margin-top: 100px;
  width: 80%;
  font-family: 'Avenir Next Cyr Regular';
}
