@font-face {
    font-family: "wichita";
    src: url('../fonts/Wichita.otf');
}

@font-face {
    font-family: "Garamond";
     src:  url('../fonts/garamond.ttf');
}


@font-face {
    font-family: "Helvetica";
    src: url('../fonts/Helvetica.otf');
}

@font-face {
    font-family: "Merriweather";
    src: url('../fonts/Merriweather-UltraBold.ttf');
}

@font-face {
  font-family: "GT Eesti";
  src: url('../fonts/GT Eesti.otf');
}

@font-face {
font-family: 'Avenir Next Cyr Thin';
src: url('../fonts/AvenirNextCyr-Thin.eot');
src: url('../fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
url('../fonts/AvenirNextCyr-Thin.woff') format('woff'),
url('../fonts/AvenirNextCyr-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Avenir Next Cyr Regular';
src: url('../fonts/AvenirNextCyr-Regular.eot');
src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
