footer {
  height: 30vh;
  width: 100%;
  background: #99f4bf;
  margin-left: 10%;
  margin-right: 10%;
}

.footer__logo {
  width: 150px;
  height: 150px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=footer.css.map */
