.button {
  font-size: 16px;
  background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: black;
  font-family: "Avenir Next Cyr Regular";
  line-height: 40px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

header {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 200px;
  width: 80%;
  top: 0;
  color: white;
  transition: 0.3s ease-in-out;
}
header .nav {
  width: 50%;
}
header .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: "Avenir Next Cyr Regular";
  font-size: 16px;
}
header .nav ul li {
  cursor: pointer;
}
header .nav ul a {
  text-decoration: none;
  color: white;
}
header.white {
  background: white;
  color: black;
  height: 100px;
  background: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
header .logo {
  width: 200px;
  height: 160px;
  overflow: hidden;
  background: url("../assets/logowhite.png");
  background-size: cover;
  background-position: 50% 50%;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .button {
  color: #0A2463;
  font-weight: 600;
  background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
}

.white > .logo {
  height: 70px;
  width: 115px;
  background: url("../assets/logo.png");
  background-size: cover;
  background-position: 50% 50%;
}

.white .nav ul a {
  color: black;
}

/*# sourceMappingURL=header.css.map */
