.button {
  font-size: 16px;
  background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: black;
  font-family: "Avenir Next Cyr Regular";
  line-height: 40px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

header {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 200px;
  width: 80%;
  top: 0;
  color: white;
  transition: 0.3s ease-in-out;
}
header .nav {
  width: 50%;
}
header .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: "Avenir Next Cyr Regular";
  font-size: 16px;
}
header .nav ul li {
  cursor: pointer;
}
header .nav ul a {
  text-decoration: none;
  color: white;
}
header.white {
  background: white;
  color: black;
  height: 100px;
  background: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
header .logo {
  width: 200px;
  height: 160px;
  overflow: hidden;
  background: url("../assets/logowhite.png");
  background-size: cover;
  background-position: 50% 50%;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .button {
  color: #0A2463;
  font-weight: 600;
  background: linear-gradient(to right top, #b8f4c0, #aef1d1, #aeecde, #b6e6e4, #c2dfe3);
}

.white > .logo {
  height: 70px;
  width: 115px;
  background: url("../assets/logo.png");
  background-size: cover;
  background-position: 50% 50%;
}

.white .nav ul a {
  color: black;
}

@keyframes plane {
  0% {
    transform: translate(-15px, -40px) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: translate(12px, -171px) rotate(0deg);
    opacity: 0;
  }
}
footer {
  height: 30vh;
  width: 100%;
  background: #99f4bf;
  margin-left: 10%;
  margin-right: 10%;
}

.footer__logo {
  width: 150px;
  height: 150px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.TVCoreSliderRoot {
  display: flex;
}

.tv-hot-tours {
  margin-left: 23%;
}

.TVInterfaceWrapper {
  overflow: visible !important;
  font-family: "Avenir Next Cyr Regular";
}

.TVInterfaceWrapper .TVSearchButton {
  font-family: "Avenir Next Cyr Regular";
  color: #0A2463;
  background: linear-gradient(to left top, #99f4bf, #7eebc4, #63e2c9, #47d8cd, #25ced1);
}

.TVMainFilterButton {
  font-weight: 400 !important;
  font-family: "Avenir Next Cyr Regular";
}

.TVMainFilter {
  overflow: visible !important;
}

.TVHotTours .TVTheme2 {
  width: 1300px;
}

.TVHotTours.TVTheme2 .TVHotMainColor-ES {
  font-family: "Avenir Next Cyr Regular";
}

.button {
  font-size: 16px;
  background: linear-gradient(to left top, #99f4bf, #7eebc4, #63e2c9, #47d8cd, #25ced1);
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: black;
  font-family: "Avenir Next Cyr Regular";
  line-height: 40px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.button:hover {
  background: #99f4bf;
}

.preloader {
  z-index: 10;
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
}
.preloader img {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.preloader .plane {
  top: 55%;
  left: 56%;
  width: 40px;
  transform-origin: center;
  transform: translate(-14px, -32px) rotate(9deg);
  animation-name: plane;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, 0.3, 0.96, 0.68);
  animation-fill-mode: forwards;
}

.scroll-item {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: fill;
  height: 100vh;
}

.first {
  height: 100vh;
}

.intro {
  height: 25%;
  color: white;
  width: 80%;
  position: absolute;
  top: calc(25% + 100px);
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Avenir Next Cyr Regular";
}

.intro__title {
  font-family: "Avenir Next Cyr Regular";
  font-weight: 600;
  font-size: 50px;
}

.intro__text {
  font-size: 20px;
}

.second {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second .section__content {
  height: calc(100% - 250px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second .destination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Avenir Next Cyr Regular";
  font-size: 24px;
  font-weight: 600;
}
.second .destination:first-of-type {
  background: url("../assets/dubai.jpg");
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/3;
}
.second .destination:nth-of-type(2) {
  background: url("../assets/thailand.jpg");
  background-size: cover;
}
.second .destination:nth-of-type(3) {
  background: url("../assets/fall.jpg");
  background-size: cover;
}
.second .destination:nth-of-type(5) {
  background: url("../assets/fall.jpg");
  background-size: cover;
}
.second .destination:nth-of-type(4) {
  background: url("../assets/egypt.jpg");
  background-size: cover;
}

.whyus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.whyus .section__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
}
.whyus .section__title {
  height: auto;
}
.whyus .whyus__card {
  background: white;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Avenir Next Cyr Regular";
}
.whyus .card__img {
  width: 100px;
  height: 100px;
}
.whyus .card__img img {
  width: 100%;
  height: 100%;
}
.whyus .card__title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.whyus .card__text {
  text-align: center;
}

.third {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../assets/bg.jpg");
  background-size: cover;
}
.third .section__content {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.third .section__text {
  margin-bottom: 75px;
  width: 80%;
  font-size: 20px;
  color: #4C5760;
  text-align: center;
  font-family: "Avenir Next Cyr Regular";
}
.third .hottours {
  position: relative;
  height: 500px;
  width: 100%;
  margin-bottom: 75px;
}
.third .button {
  position: absolute;
  top: 70%;
  left: 35%;
  background: #99f4bf;
  color: black;
}
.third .hottours__nav {
  width: 30%;
  height: 500px;
  background: #0A2463;
  position: absolute;
  left: 0;
  opacity: 0.8;
}
.third .tv-hot-tours {
  position: absolute;
  top: 62.5px;
  width: 77%;
}
.third .TVHotTours.TVTheme2 .TVHotTour {
  border-bottom: 15px solid #99f4bf;
}
.third .TVHotTours.TVTheme2 {
  width: 100% !important;
}
.third .TVHotTours.TVTheme2 .TVHotStar-ES {
  color: #0A2463;
}
.third .TVHotTours.TVTheme2 .TVHotTourInfoHotelName {
  color: #0A2463;
}
.third .TVSNavLeft, .third .TVSNavRight {
  opacity: 1 !important;
  border-radius: 40px !important;
  border-color: #CDCDCD;
  height: 40px;
  width: 50px;
  background: #99f4bf;
  z-index: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third .TVSNavLeft:hover, .third .TVSNavRight:hover {
  border-color: #0A2463;
}
.third .TVHotTours .TVSNavLeft {
  left: -13% !important;
  top: 45% !important;
  background: transparent;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third .TVHotTours .TVSNavLeft .TVSLeftImg {
  background-position: 50% 50% !important;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url("../assets/left-arrow.svg");
  opacity: 0.8;
}
.third .TVHotTours .TVSNavRight {
  right: 107% !important;
  top: 15% !important;
  background: transparent;
  border: 3px solid black;
}
.third .TVHotTours .TVSNavRight .TVSRightImg {
  background-position: 50% 50% !important;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url("../assets/right-arrow.svg");
}
.third .TVHotTours.TVTheme2 .TVHotTourInfoPriceBlock {
  padding-right: 0;
}
.third .TVHotTours.TVTheme2 .TVHotTourInfoPriceIcon {
  display: none;
}

.reviews-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../assets/bg.jpg");
  background-size: cover;
}
.reviews-section .section__content {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Avenir Next Cyr Regular";
  margin-bottom: 75px;
}
.reviews-section .reviews__nav {
  width: 30%;
  height: 500px;
  background: #0A2463;
  opacity: 0.8;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews-section .right-button {
  opacity: 1 !important;
  border-radius: 40px !important;
  height: 40px;
  width: 50px;
  background: #99f4bf;
  z-index: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 3px solid black;
  padding: 10px 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
.reviews-section .left-button {
  opacity: 1 !important;
  border-radius: 40px !important;
  height: 40px;
  width: 50px;
  background: #99f4bf;
  z-index: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 3px solid black;
  padding: 10px 5px;
  cursor: pointer;
}
.reviews-section .button__arrow-left {
  background-position: 50% 50% !important;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url("../assets/left-arrow.svg");
}
.reviews-section .button__arrow-right {
  background-position: 50% 50% !important;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-image: url("../assets/right-arrow.svg");
}
.reviews-section .reviews {
  width: 60%;
}
.reviews-section .review {
  background: white;
  height: 370px;
  width: 60%;
  display: flex !important;
  flex-direction: row;
  border-bottom: 10px solid #99f4bf;
}
.reviews-section .review__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  padding: 10px;
}
.reviews-section .review__title {
  font-weight: 600;
}
.reviews-section .review__date {
  font-size: 12px;
}
.reviews-section .review__img {
  width: 30%;
  height: 100%;
}
.reviews-section .review__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  font-family: "Avenir Next Cyr Regular";
  font-size: 32px;
  font-weight: 700;
}

.fourth {
  background: url("../assets/bg.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth {
  height: 100vh;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background: #0A2463;
  color: white;
}
.fifth .image {
  height: 75%;
  width: 45%;
  background: url("../assets/dubai.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.visas-info {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  padding-top: 30px;
}

.info__title {
  font-weight: 700;
  font-family: "Avenir Next Cyr Regular";
  font-size: 40px;
}

.info__text {
  font-family: "Avenir Next Cyr Regular";
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=main.css.map */
