@keyframes plane {

  0% {
    // transform: translate(-14px,-32px) rotate(9deg);
  transform:  translate(-15px, -40px) rotate(2deg);
    opacity: 1;
  }

  // 90% {
  //   opacity: 1;
  // }


  // 50% {
  //     // transform: translate(-5px, -100px) rotate(1deg);
  //   // transform:  translate(8px, -163px) rotate(-4deg);
  //   // transform: translate(-24px, -164px) rotate(-22deg);
  //   opacity: 1;
  //   transform: translate(-14px, -44px) rotate(4deg);
  // }


  100% {
    transform: translate(12px, -171px) rotate(0deg);
    opacity: 0;
  }

}
