@keyframes plane {
  0% {
    transform: translate(-15px, -40px) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: translate(12px, -171px) rotate(0deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=plane-animation.css.map */
